* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: normal;
  color: #000;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url(../fonts/Raleway-Bold.ttf);
  font-display: swap;
}
.container {
  max-width: 1400px;
  margin: 0px auto;
}
.main-button {
  border: none;
  min-height: 60px;
  border-radius: 5px;
  background: #00A79D;
  color: #fff;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  font-size: 1.125em;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.main-button:before,
.main-button::after {
  content: '';
  min-width: 100%;
  min-height: 100%;
  background: #252525;
  position: absolute;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  z-index: -1;
}
.main-button:before {
  top: -100%;
  left: -100%;
}
.main-button:after {
  bottom: -100%;
  right: -100%;
}
.main-button:hover:after {
  bottom: 0;
  right: 0;
  opacity: 1;
}
.main-button:hover:before {
  top: 0;
  left: 0;
  opacity: 1;
}
input {
  min-width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  outline: none;
  padding: 0px 20px;
}
h4 {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  max-width: 600px;
  margin: 0px auto;
}
h5 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #00A79D;
  font-size: 1.25em;
  text-align: center;
  max-width: 600px;
  margin: 0px auto;
  margin-bottom: 5px;
}
.buttons {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animate-up {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s all ease-in-out;
}
.animate-down {
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.3s all ease-in-out;
}
.animate-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: 0.3s all ease-in-out;
}
.animate {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
.animate-show {
  opacity: 0;
  animation: animateShow 0.5s ease-in-out forwards;
}
@keyframes animateShow {
  to {
    opacity: 1;
  }
}
.input-error {
  border: 1px solid red;
  animation: error 0.3s ease-in-out 3;
}
@keyframes error {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
.header {
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.055);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 10;
}
.header__wrapper {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__nav a {
  margin: 0px 50px;
  font-size: 1.125em;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__buttons a.phone {
  padding: 0;
}
.main {
  padding-top: 150px;
  background: #f2fafc;
}
.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 768px;
}
.main__text {
  flex: 0 1 40%;
}
.main__text h3 {
  text-transform: uppercase;
  color: #00A79D;
  font-size: 1.75em;
  letter-spacing: 4px;
}
.main__text h1 {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: normal;
  font-size: 3.1em;
  margin: 10px 0px 30px 0px;
}
.main__text h2 {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: normal;
  color: #666666;
}
.main__text .main-button {
  max-width: 400px;
  margin-top: 50px;
}
.main__text .animate-left:nth-child(1) {
  transition-delay: 0.3s;
}
.main__text .animate-left:nth-child(3) {
  transition-delay: 0.6s;
}
.main__img {
  flex: 0 1 60%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100%;
}
.main__img-man {
  margin-left: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 60%;
  display: flex;
  justify-content: flex-end;
}
.main__img-man img {
  margin-top: auto;
  margin-left: auto;
  max-width: 420px;
}
.main__img-cube {
  width: 768px;
  height: 768px;
  background: #00A79D;
  transform: rotate(-17deg);
  position: absolute;
  bottom: -400px;
  right: -200px;
  z-index: -1;
}
.main__form {
  position: absolute;
  top: 150px;
  left: 50px;
  max-width: 400px;
  padding: 50px;
  background: #fff;
  border-radius: 5px;
  z-index: 2;
}
.main__form h6 {
  font-size: 1.25em;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}
.main__form label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}
.main__form .main-button {
  width: 100%;
}
.main__form .main-form-tariff {
  min-width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  outline: none;
  margin-bottom: 20px;
  padding: 0px 20px;
  background: #fff;
  display: flex;
  align-items: center;
}
.main__form .error-message {
  text-align: center;
  font-size: 0.75em;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.adv {
  background: #fafafc;
  padding: 100px 0px 50px 0px;
}
.adv__wrapper {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.adv__item {
  padding: 20px 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.055), -4px -4px 20px rgba(0, 0, 0, 0.055);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.adv__item h6 {
  font-size: 1.5em;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: normal;
  margin: 14px 0px;
}
.adv__item span.info {
  font-size: 0.875em;
  display: block;
  margin-bottom: 10px;
  color: #666666;
}
.adv__item a {
  color: #00A79D;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: normal;
  position: relative;
}
.adv__item a:after {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/icons/linkarrow.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  transition: 0.6s all ease-in-out;
}
.adv__item-icon {
  width: 62px;
  height: 62px;
  border-radius: 62% 38% 46% 54%/60% 63% 37% 40%;
  background: #00A79D;
  display: inline-block;
  transition: 0.3s all ease-in-out;
  position: relative;
}
.adv__item-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 45px;
  height: 45px;
  fill: #fff;
  transition: 0.3s all ease-in-out;
}
.adv__item::before {
  content: '';
  width: 100%;
  height: 100%;
  background: #00A79D;
  bottom: 0;
  left: -100%;
  position: absolute;
  z-index: -1;
  transition: 0.3s all ease-in-out;
}
.adv__item:hover h6,
.adv__item:hover span.info,
.adv__item:hover a {
  color: #fff;
}
.adv__item:hover .adv__item-icon {
  width: 62px;
  height: 62px;
  background: #fff;
  border-radius: 50%;
}
.adv__item:hover .adv__item-icon svg {
  fill: #00A79D;
  transition: 0.3s all ease-in-out;
}
.adv__item:hover a:after {
  right: -25px;
}
.adv__item:hover:before {
  left: 0;
}
.adv .animate-up:nth-child(2) {
  transition-delay: 0.3s;
}
.adv .animate-up:nth-child(3) {
  transition-delay: 0.6s;
}
.adv .animate-up:nth-child(4) {
  transition-delay: 0.9s;
}
.online {
  padding: 50px 0px;
}
.online__wrapper {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
}
.online__row {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  border-bottom: 1px solid #c8c8c8;
  padding: 20px;
  text-align: center;
}
.online__row:nth-child(1) {
  background: #000;
  padding: 0px 20px;
  border-radius: 5px;
  border: none;
}
.online__row:nth-child(1) span.bold {
  text-align: center;
  padding: 30px 0px;
  color: #fff;
  border-right: 1px solid #fff;
}
.online__row:nth-child(1) span.bold:last-child {
  border-right: none;
}
.online-name,
.online-money {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: normal;
  font-size: 1.25em;
}
.online-steps {
  display: flex;
  align-items: center;
  justify-content: center;
}
.online-step {
  height: 10px;
  width: 50px;
  margin: 0px 4px;
  border-radius: 5px;
  background: #00A79D;
}
.online-step:last-child {
  animation: stepAnim 1s ease-in-out 20;
}
.online-status {
  font-size: 0.875em;
  color: #666666;
  margin-bottom: 10px;
}
.online-date {
  text-align: right;
  margin-top: 20px;
  color: #666666;
  font-size: 0.875em;
}
.online-date-item {
  color: #666666;
}
@keyframes stepAnim {
  50% {
    background: transparent;
  }
  100% {
    background: #00A79D;
  }
}
.feedback {
  padding: 50px 0px;
  overflow: hidden;
}
.feedback__slide {
  padding: 30px 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.055), -4px -4px 20px rgba(0, 0, 0, 0.055);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: grab;
}
.feedback__slide-top {
  display: flex;
  align-items: center;
}
.feedback__slide-top img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  transition: 0.3s all ease-in-out;
}
.feedback__slide-client span {
  display: block;
}
.feedback__slide-client span.name {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 1.5em;
  transition: 0.3s all ease-in-out;
}
.feedback__slide-client span.money {
  font-size: 0.875em;
  font-family: 'Roboto-Light', sans-serif;
  font-weight: normal;
  color: #666666;
  transition: 0.3s all ease-in-out;
}
.feedback__slide-info {
  padding-top: 20px;
}
.feedback__slide-info span.text {
  transition: 0.3s all ease-in-out;
}
.feedback__slide:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #00A79D;
  bottom: 0;
  left: -100%;
  position: absolute;
  z-index: -1;
  transition: 0.3s all ease-in-out;
}
.feedback__slide:hover:before {
  left: 0%;
}
.feedback__slide:hover .feedback__slide-top img {
  border: 4px solid #fff;
}
.feedback__slide:hover .feedback__slide-client span.name,
.feedback__slide:hover .feedback__slide-client span.money {
  color: #fff;
}
.feedback__slide:hover .feedback__slide-info span.text {
  color: #fff;
}
.feedback .swiper {
  padding: 80px 0px;
  overflow: visible;
  position: relative;
}
.feedback .swiper-slide {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.feedback .swiper-slide-active,
.feedback .swiper-slide-prev,
.feedback .swiper-slide-next {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}
.feedback .swiper-prev,
.feedback .swiper-next {
  position: absolute;
  bottom: 0px;
  width: 50px;
  min-height: 50px;
  padding: 0;
}
.feedback .swiper-prev img,
.feedback .swiper-next img {
  max-width: 20px;
}
.feedback .swiper-prev {
  transform: translateX(-50%) rotate(180deg);
  left: calc(50% - 30px);
}
.feedback .swiper-next {
  transform: translateX(50%);
  right: calc(50% - 30px);
}
.steps {
  padding: 50px 0px;
}
.steps__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.steps__img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-right: 50px;
  align-items: center;
}
.steps__img-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  position: relative;
}
.steps__img-column img {
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.steps__img-column:first-child::before {
  content: '';
  width: 318px;
  height: 121px;
  position: absolute;
  left: -40px;
  bottom: -80px;
  background: url(../img/steps-img-bg.png) no-repeat center left;
  animation: wave 5s linear infinite;
}
.steps__text span.info {
  display: block;
  margin: 30px 0px 40px 0px;
  color: #666666;
}
.steps__text-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.steps__text-item .icon {
  padding: 10px 20px;
  border-radius: 62% 38% 46% 54%/60% 63% 37% 40%;
  background: rgba(0, 167, 157, 0.1);
  display: inline-block;
  transition: 0.3s all ease-in-out;
  position: relative;
  margin-right: 20px;
  overflow: hidden;
  z-index: 1;
}
.steps__text-item .icon svg {
  fill: #00A79D;
  position: relative;
  z-index: 1;
}
.steps__text-item .icon:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  background: #00A79D;
  transition: 0.3s all ease-in-out;
  z-index: -1;
}
.steps__text-item .text span.bold {
  display: block;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 10px;
  transition: 0.3s all ease-in-out;
}
.steps__text-item .text span.small {
  font-size: 0.875em;
}
.steps__text-item:hover .icon svg {
  fill: #c9fffb;
}
.steps__text-item:hover .icon:before {
  bottom: 0;
}
.steps__text-item:hover .text span.bold {
  color: #00A79D;
}
@keyframes wave {
  0% {
    transform: translateX(5px) translateY(-4px);
  }
  33% {
    transform: translateX(9px) translateY(-4px);
  }
  50% {
    transform: translateX(5px) translateY(0px);
  }
  66% {
    transform: translateX(-2px) translateY(4px);
  }
  100% {
    transform: translateX(5px) translateY(-4px);
  }
}
.speed {
  padding: 50px 0px;
}
.speed__wrapper {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.speed__item {
  padding: 30px 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.055), -4px -4px 20px rgba(0, 0, 0, 0.055);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  position: relative;
}
.speed__item-current,
.speed__item-agree,
.speed__item-money {
  font-size: 4em;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: normal;
  color: #00A79D;
  position: relative;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}
.speed__item-current span,
.speed__item-agree span,
.speed__item-money span {
  display: inline-block;
  color: #00A79D;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: normal;
  transition: 0.3s all ease-in-out;
}
.speed__item-current:before,
.speed__item-agree:before,
.speed__item-money:before {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 167, 157, 0.1);
  position: absolute;
  bottom: -5px;
  right: -25px;
  z-index: -1;
  transition: 0.3s all ease-in-out;
}
.speed__item span.small {
  font-size: 1.125em;
  font-family: 'Roboto-Light', sans-serif;
  font-weight: normal;
  color: #666666;
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
  position: relative;
}
.speed__item:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #00A79D;
  top: 0;
  left: -100%;
  transition: 0.3s all ease-in-out;
  position: absolute;
  z-index: -1;
}
.speed__item:hover .speed__item-current,
.speed__item:hover .speed__item-agree,
.speed__item:hover .speed__item-money {
  color: #fff;
}
.speed__item:hover .speed__item-current span,
.speed__item:hover .speed__item-agree span,
.speed__item:hover .speed__item-money span {
  color: #fff;
}
.speed__item:hover span.small {
  color: #fff;
}
.speed__item:hover:before {
  left: 0;
}
.speed .animate-up:nth-child(2) {
  transition-delay: 0.3s;
}
.speed .animate-up:nth-child(3) {
  transition-delay: 0.6s;
}
.information {
  padding: 40px 0px 80px 0px;
}
.information span.info-bold {
  display: block;
  font-size: 14px;
  margin: 20px 0px 10px 0px;
}
.information h6 {
  color: #00A79D;
}
.information p {
  font-size: 12px;
  color: #c4c4c4;
}
.footer {
  background: #000;
  padding: 30px 0px;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__wrapper a {
  color: #fff;
  font-size: 14px;
}
.footer__wrapper span.copyright {
  font-size: 14px;
  color: #fff;
}
@media (max-width: 1400px) {
  .container {
    max-width: none;
    padding: 0px 20px;
  }
}
@media (max-width: 1180px) {
  .main__form {
    display: none;
  }
}
@media (max-width: 1060px) {
  .main-button {
    font-size: 1.125em;
    padding: 0px 30px;
  }
  .header__nav a {
    margin: 0px 20px;
    font-size: 1em;
  }
  .header__buttons {
    display: flex;
    align-items: center;
  }
  .header__buttons a.phone {
    padding: 0;
  }
  .main__wrapper {
    height: 568px;
  }
  .main__text {
    flex: 0 1 60%;
  }
  .main__text h3 {
    text-transform: uppercase;
    color: #00A79D;
    font-size: 1.25em;
    letter-spacing: 4px;
  }
  .main__text h1 {
    font-family: 'Raleway-Bold', sans-serif;
    font-weight: normal;
    font-size: 2em;
    margin: 10px 0px 30px 0px;
  }
  .main__text h2 {
    font-size: 0.875em;
    max-width: 360px;
  }
  .main__text .main-button {
    max-width: 320px;
  }
  .main__img {
    flex: 0 1 40%;
  }
  .main__img-man img {
    max-width: 360px;
  }
  .adv__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .adv .animate-up:nth-child(2) {
    transition-delay: 0s;
  }
  .adv .animate-up:nth-child(3) {
    transition-delay: 0s;
  }
  .adv .animate-up:nth-child(4) {
    transition-delay: 0s;
  }
  .online__row {
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }
  .online-step {
    height: 10px;
    width: 30px;
  }
  .online-status {
    font-size: 0.75em;
  }
  .online-persent,
  .online-tariff {
    font-size: 0.875em;
  }
  .steps__wrapper {
    grid-template-columns: 1fr;
  }
  .steps__img {
    grid-row-start: 2;
    grid-gap: 30px;
    padding-right: 0px;
    padding: 0px 80px;
  }
  .speed {
    padding: 50px 0px;
  }
  .speed__wrapper {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .speed__item:last-child {
    grid-row-start: 2;
    grid-column-start: span 2;
  }
}
@media (max-width: 728px) {
  .container {
    padding: 0px 10px;
  }
  .main-button {
    min-height: 50px;
    font-size: 1.125em;
  }
  h4 {
    font-family: 'Raleway-Bold', sans-serif;
    font-weight: normal;
    font-size: 32px;
    max-width: none;
  }
  h5 {
    font-size: 0.875em;
    max-width: 300px;
  }
  .buttons {
    padding: 30px 0px;
  }
  .header__wrapper {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__logo img {
    max-width: 100px;
  }
  .header__nav {
    display: none;
  }
  .header__buttons {
    display: flex;
    align-items: center;
  }
  .header__buttons a.phone {
    padding: 0;
  }
  .main {
    overflow: hidden;
  }
  .main__wrapper {
    flex-direction: column;
    height: 700px;
  }
  .main__text {
    flex: 0 1 100%;
  }
  .main__text h3 {
    font-size: 1em;
  }
  .main__text h1 {
    font-size: 2em;
    line-height: 110%;
  }
  .main__text .main-button {
    margin-top: 20px;
    max-width: 320px;
  }
  .main__img {
    flex: 0 1 100%;
    min-height: 300px;
    max-height: 300px;
  }
  .main__img-man {
    min-width: 100%;
    padding: 0px 50px;
  }
  .main__img-man img {
    margin-top: auto;
    margin-left: 100px;
    max-width: 260px;
  }
  .main__img-cube {
    bottom: -500px;
  }
  .adv {
    padding: 80px 0px 40px 0px;
  }
  .adv__wrapper {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
  .online {
    padding: 40px 0px;
  }
  .online__wrapper {
    margin-top: 50px;
  }
  .online__row {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 10px;
    grid-row-gap: 20px;
  }
  .online__row:nth-child(1) {
    padding: 0px 10px;
  }
  .online__row:nth-child(1) span.bold {
    padding: 20px 5px;
    font-size: 1em;
    border: none;
  }
  .online__row:nth-child(1) span.bold:last-child {
    display: none;
  }
  .online__step {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .online-name,
  .online-money {
    font-size: 0.875em;
  }
  .online-persent,
  .online-tariff {
    font-size: 0.75em;
  }
  .online-status {
    font-size: 0.75em;
  }
  .online-date {
    font-size: 0.75em;
  }
  .feedback {
    padding: 40px 0px;
  }
  .feedback .swiper {
    padding: 50px 0px 0px 0px;
  }
  .feedback .swiper-prev,
  .feedback .swiper-next {
    display: none;
  }
  .steps {
    padding: 40px 0px;
  }
  .steps__img {
    padding: 0px;
    grid-gap: 20px;
  }
  .steps__img-column {
    grid-gap: 20px;
  }
  .steps__img-column:first-child::before {
    width: 190px;
    height: 80px;
    left: -40px;
    bottom: -40px;
    background-size: cover;
  }
  .steps__text span.info {
    font-size: 0.875em;
  }
  .steps__text-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .steps__text-item .icon {
    min-width: 80px;
  }
  .steps__text-item .icon svg {
    height: 40px;
    width: 40px;
  }
  .steps__text-item .text span.bold {
    font-size: 1.25em;
  }
  .steps__text-item .text span.small {
    font-size: 0.875em;
  }
  .speed {
    padding: 40px 0px;
  }
  .speed__wrapper {
    margin-top: 50px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .speed__item:last-child {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .speed .animate-up:nth-child(2) {
    transition-delay: 0s;
  }
  .speed .animate-up:nth-child(3) {
    transition-delay: 0s;
  }
  .footer__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__wrapper span.copyright {
    margin-top: 10px;
  }
}
